$purple1: #6750a4;
$purple2: rgba(164, 151, 201, 1);
$grey2: #423c4e;
$dark-text: #23153e;
$light-text: #443a5a;
$pink: rgba(255, 45, 85, 1);

$main-font: "Montserrat", sans-serif;


$gap1: 32px;
$gap2: 32px;
$gap3: 25px;
$gap4: 20px;
$gap5: 10px;
$gap6: 5px; 

$fz-1: 56px;
$fz-2: 50px;
$fz-3: 40px;
$fz-4: 32px;
$fz-5: 24px;
$fz-6: 18px;
$fz-7: 14px;
$fz-8: 13.51px;
$fz-9: 10.13px;




$font-sz-l4: 32px;
$font-sx-m: 24px;
$font-sz-sm: 18px;
$font-sz-sm2: 14px;
$font-sz-sm3: 13.51px;
$font-sz-sm4: 10.13px;


$line-height: 68.26px;
$line-height-l: 48.76px;
$line-height-2: 38.4px;
$line-height-5: 28px;
$line-height-6: 16.89px;
$line-height-7: 15.2px;

$radius3: 13.48px;

$spacing3: 24px;
$spacing2: 37px;
$spacing-1: 42px;
$spacing: 60px;

$max-content-wrap-width: 1237px;
