$purple1:  #6750A4;
$grey2: #423C4E;



$dark-text: #23153E;
$light-text: #443A5A;

$pink:  rgba(255, 45, 85, 1);


$main-font: "Montserrat", sans-serif;

$font-sz-l: 56px;
$font-sz-l2: 50px;
$font-sz-l3:40px;
$font-sz-l4:32px;
$font-sx-m:24px;
$font-sz-sm:18px;
$font-sz-sm2: 14px;
$font-sz-sm3: 13.51px;
$font-sz-sm4: 10.13px;

$line-height: 68.26px;
$line-height-l:48.76px;
$line-height-2: 38.4px;
$line-height-5: 28px;
$line-height-6: 16.89px;
$line-height-7: 15.2px;

$radius3:13.48px;

$spacing3: 24px;
$spacing2: 37px;
$spacing-1: 42px;
$spacing: 60px;

$max-content-wrap-width: 1237px;



